:root {
    --color-primary: #FF0000;
    --color-primary-light: #FA7C7C;
    --color-primary-lighter: #FDECEC;

    --color-green: #E7F6E7;
    --color-green-light: #FCFEFC;
    --color-green-dark: #8C8C8C;

    --color-gray-01: #404040;
    --color-gray-02: #8C8C8C;
    --color-gray-03: #B9B9B9;
    --color-gray-04: #E4E5E9;

    --white: #fff;
    --black: #000;
    
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-xsm: 16px;
    --font-size-md: 18px;
    --font-size-xmd: 20px;
    --font-size-xxmd: 22px;
    --font-size-lg: 24px;

    --font-weight-regular: 300;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-family: 'Arial';

    --spacing-zero: 0px;
    --spacing-sm: 8px;
    --spacing-xsm: 12px;
    --spacing-md: 16px;
    --spacing-xmd: 20px;
    --spacing-xxmd: 24px;
    --spacing-xxxmd: 28px;
    --spacing-lg: 32px;
    --spacing-xlg: 48px;
    --spacing-xxlg: 64px;
}