.img {

    border-bottom: 4px solid red;
    margin-bottom: var(--spacing-md);
    @media only screen and (max-width: 768px) {
        width: 250px;
        height: 250px;
    }
}

.mr{
    margin-right: var(--spacing-lg);
}

.description-container {
    max-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-style {
    background-color: unset;
    border: unset;
    margin: unset;
    padding: unset;
    cursor: pointer;

    &:disabled{
        cursor: auto;
    }
}

.title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}